@model Model.Models.Empresa

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Empresa</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NomeUsuario)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NomeUsuario)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MatriculaUsuario)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MatriculaUsuario)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Endereco)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Endereco)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Bairro)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Bairro)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Cep)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Cep)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Cidade)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Cidade)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NomeMae)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NomeMae)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EmailUsuario)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EmailUsuario)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SenhaUsuario)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SenhaUsuario)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DataNascimento)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TipoUsuario)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TipoUsuario)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IdEmpresa)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IdEmpresa)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RasaoSocial)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RasaoSocial)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.IdUsuario }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
